@import '../../main.scss';

.gpt3__footer{
    display: flex;
    border: 1px solid whitesmoke;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(3, 27, 52);
}

.gpt3__footer-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

    h1{
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 50px;
        line-height: 75px;
        text-align: center;
        letter-spacing: -0.04em;

        @include smmobile{
            font-size: 40px;
            line-height: 70px;
        }

        @include xsmobile{
            font-size: 30px;
            line-height: 50px;
    
        }
        @include avarage{
            font-size: 25px;
            line-height: 45px;
        }
        @include smallest{
            font-size: 18px;
            line-height: 30px;


        }
}

}

.gpt3__footer-btn{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    margin-bottom: 9rem;
    cursor: pointer;

    p{
        font-size: 18px;
        box-sizing: border-box;
        line-height: 21px;
        font-family: var(--font-family);
        word-spacing: 2px;

        @include xsmobile{
            font-size: 14px;
            line-height: 15px;
        }

    }
}
.gpt3__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;

    div{
        width: 250px;
        margin: 1rem;

        @include xsmobile{
            margin: 1rem 0;
        }
    }
}

.gpt3__footer-links-logo{
    display: flex;
    flex-direction: column;
    img{
        width: 118px;
        height: 30px;
        margin-bottom: 1rem;
    }

    p{
        font-family: var(--font-family);
        color: #ffffff;
        font-size: 12px;
        line-height: 14px;
    }
}

.gpt3__footer-links-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    h4{
        color: #ffffff;
        font-family: var(--font-family);
        font-size: 20px;
        line-height: 16px;

        @include xsmobile{
            margin-top: 1rem;
        }
    }

    p{
        color: #ffffff;
        font-family: var(--font-family);
        font-size: 16px;
        line-height: 14px;
        cursor: pointer;
        margin: 0.5rem 0;
    }
}

.gpt3__footer-copyright{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 16px;


    p{

        &:first-child{
            margin-top: 2rem;
        }
    }
}